{% extends 'base.html' %}

{% block content %}

{% for messages in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{messages}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if user_to_update.id == current_user.id %}
	
<h3>Update User Info</h3>
<br/>
<form method="POST" enctype="multipart/form-data">
	{{form.hidden_tag()}}
	{{form.name.label(class="form-label")}}
	{{form.name(class="form-control")}}
	{{form.username.label(class="form-label")}}
	{{form.username(class="form-control")}}
	{{form.password.label(class="form-label")}}
	{{form.password(class="form-control")}}
	{{form.password2.label(class="form-label")}}
	{{form.password2(class="form-control")}}
	{{form.about_author.label(class="form-label")}}
	<textarea name="about_author" class="form-control"></textarea>
	{{form.profile_pic.label(class="form-label")}}
	{{form.profile_pic(class="form-control")}}
<br/>
	{{form.submit(class="btn btn-secondary")}}
</form>

{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Access Denied
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

{% endblock %}